= content_for(:title) do
  - if @client_note.title
    = @client_note.title
  - else
    Note
= content_for(:context_navigation) do
  = render 'context_navigation'

%dl.dl-horizontal
  %dt Title
  %dd= @client_note.title
  %dt Client
  %dd= @client_note.client.current_alias
  %dt User
  %dd= @client_note.user.login
  %dt Content
  %dd= @client_note.content
