= content_for(:title) do
  - if @client_note.title
    = @client_note.title
  - else
    Note
= content_for(:context_navigation) do
  = render 'context_navigation'

%dl.dl-horizontal
  %dt Client
  %dd= link_to @client_note.client.current_alias, @client_note.client
  %dt User
  %dd= link_to @client_note.user.login, @client_note.user
  %dt Created At
  %dd= @client_note.created_at
  %dt Content
  %dd
    != @client_note.rendered_content
