= content_for(:title) do
  - if @client_note.title
    = @client_note.title
  - else
    Note
= content_for(:context_navigation) do
  = render 'context_navigation'

.panel.panel-default
  .panel-heading
    .row
      .col-sm-6
        = link_to @client_note.client.current_alias, @client_note.client
      .col-sm-6
        Added
        = @client_note.created_at
        by
        = link_to @client_note.user.login, @client_note.user
  .panel-body
    != @client_note.rendered_content
