%ul.nav.nav-tabs
  %li= link_to "Store", store_path
  %li= link_to "Catalog", catalog_items_path
  - if can? :create, CatalogItem
    %li= link_to 'New Item', new_catalog_item_path
  - if defined? catalog_item
    - if catalog_item.id
      - if can? :update, CatalogItem
        %li= link_to 'Change', edit_catalog_item_path(catalog_item)
      - if can? :destroy, CatalogItem
        %li= link_to 'Destroy', catalog_item, :method => :delete, :data => { :confirm => 'Are you sure?' }
