= content_for(:title) do
  New Catalog Item

= content_for(:sidebar) do
  - if @catalog_item
    = render 'sidebar', catalog_item: @catalog_item
  - else
    = render 'sidebar'

= render 'form', catalog_item: @catalog_item
