= content_for(:title) do
  Catalog: #{@catalog_item.name}


= content_for(:sidebar) do
  = render 'sidebar', catalog_item: @catalog_item

%dl
  %dt Name
  %dd= @catalog_item.name
  %dt Cost
  %dd= @catalog_item.cost
  %dt Description
  %dd= @catalog_item.description
  %dt Is Available?
  %dd= @catalog_item.is_available
