= form_for message do |f|
  - if message.errors.any?
    #error_explanation
      %h2= "#{pluralize(message.errors.count, "error")} prohibited this message from being saved:"
      %ul
        - message.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :content
    = f.text_area :content, class: 'form-control'
  .form-group
    = f.submit 'Save', class: 'btn btn-primary btn-block'
