= content_for(:title) do
  Message
  = @message.created_at.to_date
  by
  = @message.author_login

= content_for(:context_navigation) do
  %ul.nav.nav-tabs
    %li= link_to "All Messages", messages_path

= render @message

- if can? :manage, @message
  = link_to 'Edit', edit_message_path(@message)
  = link_to 'Destroy', @message, method: :delete, data: { confirm: 'Are you sure?' }
