= @subject_line

Hi, #{@user_login}!

Somebody - maybe you - requested a password reset for your #{@org_app_name} 
account, #{@user_login}. It is safe to ignore this email if you did not make
the request.

Follow the link below in your browser and the #{@org_app_name} application
will let you enter a new password for your account.

  #{@reset_url}

Thanks, and let me know if you have any questions!

= @sender_name
= @sender_email
