!!! 5
%html{lang: "en"}
  %head
    %meta{ content: "text/html; charset=UTF-8", http: { equiv: "Content-Type" } }
  %body
    %h1= @subject_line
    %p
      Hi, #{@user_login}!
    %p
      Somebody - maybe you - requested a password reset for your #{@org_app_name} 
      account, #{@user_login}. It is safe to ignore this email if you did not make
      the request.
    %p
      Follow the link below in your browser and the #{@org_app_name} application
      will let you enter a new password for your account.
    %blockquote= @reset_url
    %p
      Thanks, and let me know if you have any questions!
    %p
      #{@sender_name}
      %br
      %a{href="mailto:#{@sender_email}"}= @sender_email
