<%= form_for(@signup_list) do |f| %>
  <% if @signup_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@signup_list.errors.count, "error") %></h2>
      <ul>
        <% @signup_list.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>

    <div class="control-group">
      <%= f.label :points_entry_type_id, class: 'control-label' %>
      <div class="controls">
        <%= text_field_tag "points_entry_type",
          @signup_list.points_entry_type_name,
          data: { provide: 'typeahead', field: 'signup_list_points_entry_type_id', pointsfield: 'points_entry_points' },
          autocomplete: 'off',
          class: 'pointsentrytype-typeahead' %>
        <%= f.hidden_field :points_entry_type_id %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :signup_date, class: 'control-label' %>
      <div class="controls">
        <%= f.date_select :signup_date %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit class: "btn" %>
    </div>
  </fieldset>
<% end %>
