= form_for user, role: 'form' do |f|
  - if user.errors.any?
    .error_explanation
      %h2
        = pluralize user.errors.count, "error"
        prevented this user from being saved:
      %ul
        - user.errors.full_messages.each do |msg|
          %li= msg
  .row
    .col-md-6
      .form-group
        = f.label :login
        = f.text_field :login, class: 'form-control'
      .form-group
        = f.label :name
        = f.text_field :name, class: 'form-control'
      .form-group
        = f.label :email
        = f.text_field :email, class: 'form-control'
      .form-group
        - if f.object.new_record?
          = f.label :password
        - else
          = f.label :password, "Change password"
        = f.password_field :password, class: 'form-control'
        = f.label :password_confirmation
        = f.password_field :password_confirmation, class: 'form-control'
    .col-md-6
      .form-group
        = f.label :avatar
        = f.file_field :avatar, class: 'form-control'
        = image_tag user.avatar.url(:square)
  .form-group
    = f.submit class: "btn btn-primary btn-block"
    = cancel_button
