%ul.nav.nav-list
  - if defined? user
    %li= link_to "Show #{user.login}", user
    - if can? :edit, user
      %li= link_to "Change #{user.login} Details", edit_user_path(user)
    - if can? :show, PointsEntry
      %li= link_to "Points Logged by #{user.login}", entries_user_path(user)
  - elsif can?(:manage, User)
    %li= link_to "Create User", new_user_path
  - if roles
    - roles.each do |role|
      %li= link_to role.name.titleize, role
