%tr
  %td= image_tag user.avatar.url(:thumb)
  %td
    = link_to user.login, user
    - if user == current_user
      %em That's you!
    - elsif user.client
      %em= link_to user.client_current_alias, user.client
  %td
    - user.roles.each do |role|
      %span.label.label-info= role.name
  - if can? :manage, User
    %td
      - if user.email.empty?
        %em No email
      - else
        = mail_to user.email
