= content_for(:title) do
  User
  = @user.login

= content_for(:sidebar) do
  = render 'sidebar'

=image_tag "https://s3.amazonaws.com/elasticbeanstalk-us-east-1-820256515611/marys-place/avatars/avatar-blank-medium.png"

%dl
  %dt Login
  %dd= @user.login
  %dt Name
  %dd= @user.name
  - if @user.client and can? :show, Client
    %dt For Client
    %dd= link_to @user.client.current_alias, @user.client
  %dt Login Count
  %dd= @user.login_count
  %dt Last Activity
  %dd= @user.last_request_at
  %dt Last Login
  %dd= @user.last_login_at
  %dt Current Login
  %dd= @user.current_login_at
  %dt Last Login Address
  %dd= @user.last_login_ip
  %dt Current Login Address
  %dd= @user.current_login_ip
