= content_for(:title) do
  = @user.login

= content_for(:context_navigation) do
  = render 'context_navigation', user: @user, roles: @roles

.row
  .col-sm-6
    - if @user == current_user
      .alert.alert-info.text-center
        This is you!
        = link_to "Sign Out", logout_url, method: :delete,
          confirm: "Really log out?",
          class: "btn btn-default btn-block"
    %dl.dl-horizontal
      %dt Login
      %dd= @user.login
      %dt Name
      %dd= @user.name
      - if @user.client and can? :show, Client
        %dt For Client
        %dd= link_to @user.client_current_alias, @user.client
      - unless @user.roles.empty?
        %dt Roles
        %dd
          - @user.roles.each do |role|
            %span.label.label-info= role.name
      %dt Email
      %dd
        - if @user.email?
          = mail_to @user.email
        -else
          %em No email
      %dt Login Count
      %dd= @user.login_count
      - if @user.login_count > 0
        %dt Last Activity
        %dd= @user.last_request_at
        %dt Last Login
        %dd= @user.last_login_at
        %dt Current Login
        %dd= @user.current_login_at
        %dt Last Login Address
        %dd= @user.last_login_ip
        %dt Current Login Address
        %dd= @user.current_login_ip
  .col-sm-6
    = image_tag @user.avatar.url(:square)
