= form_for points_entry, role: 'form' do |f|
  - if points_entry.errors.any?
    #error_explanation
      %h2= pluralize points_entry.errors.count, "error"
      %ul
        - points_entry.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    = f.label :client_id, class: 'control-label'
    = text_field_tag "current_alias", client.current_alias,
      data: { provide: 'typeahead', field: 'points_entry_client_id', balance: 0 },
      autocomplete: 'off', autocapitalize: 'off', autocorrect: 'off',
      class: 'client-typeahead form-control'
    %span.help-block
      - if client.is_flagged
        %span.is-flagged
          %i.icon-flag
          - if !client.can_shop?
            %span.label.label-important No Shopping
          = link_to "flagged", flags_client_path(client), class: "text-error"
      - else
        %span.is-flagged{ style: "display: none" }
          %i.icon-flag
          %span.label.label-important.shopping-blocked-label{ style: "display: none" } No Shopping
          = link_to "flagged", '#', class: "text-error"
      %span.point-balance.text-info= number_with_delimiter client.point_balance
      %small.pull-right
        = link_to "Add Client", new_client_path
  .form-group
    = f.label :points_entry_type_id, class: 'control-label'
    = text_field_tag "points_entry_type", points_entry_type.name,
      data: { provide: 'typeahead', field: 'points_entry_points_entry_type_id', pointsfield: 'points_entry_points' },
      autocomplete: 'off', autocapitalize: 'off', autocorrect: 'off',
      class: 'pointsentrytype-typeahead form-control'
    %span.help-block
      %span.summary
        %span.point-total.text-info
  .form-group
    = f.label :points, class: 'control-label'
    = f.number_field :points, data: { default: points_entry_type.default_points }, 
      autocomplete: 'off', class: 'form-control'
    %span.help-block
      %span.new-balance.text-info
  .checkbox
    = f.label :bailed do
      = f.check_box :bailed, 
        data: { field: 'points_entry_points', penalty: bail_penalty }, 
        class: 'bailed'
      Bailed
  .form-group
    = f.label :location_id
    = location_select f, :location_id, current_user
  - unless points_entry.new_record?
    .row
      .form-group
        = f.label :performed_on
        = f.date_select :performed_on, class: 'form-control'
  .form-group
    = f.hidden_field :client_id
    = f.hidden_field :points_entry_type_id
    = f.submit class: "btn btn-block btn-primary"
