= content_for(:title) do
  Points Log

= content_for(:sidebar) do
  %ul.nav.nav-list
    - if can? :show, PointsEntryType
      %li= link_to 'Entry Types', points_entry_types_path
    - if can? :create, PointsEntry
      %li= link_to 'New Entry', new_points_entry_path

= paginate @points_entries

= render 'as_table', points_entries: @points_entries

= paginate @points_entries
