= content_for(:title) do
  Showing Entry

= content_for(:context_navigation) do
  = render 'context_navigation', points_entry: @points_entry

- if notice
  %p
    %span.label.label-info Info
    = @points_entry.client_current_alias
    now has
    = number_with_delimiter(@points_entry.client_point_balance)
    points

%dl.dl-horizontal
  %dt Client
  %dd= link_to @points_entry.client_current_alias, @points_entry.client
  %dt Location
  %dd= link_to @points_entry.location_name, @points_entry.location
  %dt Type
  %dd= link_to @points_entry.points_entry_type_name, @points_entry.points_entry_type
  %dt Performed On
  %dd= @points_entry.performed_on
  %dt Points
  %dd
    - if @points_entry.multiple != 1
      = @points_entry.points_entered
      x
      = @points_entry.multiple
      \=
    = @points_entry.points
  - if @points_entry.bailed
    %dd
      %em (Bailed)
  %dt Added By
  %dd= link_to @points_entry.added_by_login, @points_entry.added_by
