.summary
  .header
    %p
      = small_avatar_of client
    - if client.is_flagged?
      %i.icon-flag
    %strong
      - unless client.is_active
        %span.label.label-info Inactive
      - if client.is_blocked?
        %span.label.label-important Blocked
      = link_to client.current_alias, client
    - if client.other_aliases
      %em= client.other_aliases
  - if can? :manage, client
    %p
      = number_with_delimiter client.point_balance
      Points
    %p
      - if client.oriented_on
        %em= client.oriented_on
      - else
        %em Not oriented
