.summary
  .header
    %p
      - if client.is_flagged?
        %i.icon-flag
      %strong
        - unless client.is_active
          %span.label.label-info Inactive
        - if client.is_blocked?
          %span.label.label-important Blocked
        = link_to client.current_alias, client
      - if client.other_aliases
        %em= client.other_aliases
    - if can? :manage, client
      %p
        - if client.oriented_on
          %em= client.oriented_on
        - else
          %em Not oriented
      %p
        = number_with_delimiter client.point_balance
        Points
    .btn-group
      - if can? :edit, client
        = link_to "Edit", edit_client_path(client), 
          class: "btn btn-mini"
      - if can? :show, client
        = link_to "Details", client_path(client), 
          class: "btn btn-mini"
