= form_for client, role: 'form' do |f|
  - if client.errors.any?
    .error_explanation
      %h3= pluralize client.errors.count, "Error"
      %ul
        - client.errors.full_messages.each do |msg|
          %li= msg
  .row
    .col-md-6
      = f.hidden_field :added_by_id
      = f.hidden_field :last_edited_by_id
      .form-group
        = f.label :current_alias
        = f.text_field :current_alias, class: 'form-control'
      .form-group
        = f.label :full_name
        = f.text_field :full_name, class: 'form-control'
      .form-group
        = f.label :phone_number
        = f.text_field :phone_number, class: 'form-control'
      .form-group
        = f.label :other_aliases
        = f.text_field :other_aliases, class: 'form-control'
      .checkbox
        = f.label :is_active do
          = f.check_box :is_active
          Is currently active?
    .col-md-6
      .form-group
        = f.label :notes
        = f.text_area :notes, class: 'form-control'
    .form-group
      = f.submit class: "btn btn-primary btn-block"
      = cancel_button
