<%= form_for(@client) do |f| %>
  <% if @client.errors.any? -%>
    <div class="error_explanation">
      <h3><%= pluralize @client.errors.count, "Error" %></h3>
      <ul>
        <% @client.errors.full_messages.each do |msg| -%>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end -%>
  <fieldset>
    <%= f.hidden_field :added_by_id %>
    <%= f.hidden_field :last_edited_by_id %>
    <div class="control-group">
      <%= f.label :current_alias %>
      <%= f.text_field :current_alias %>
    </div>

    <div class="control-group">
      <%= f.label :full_name %>
      <%= f.text_field :full_name %>
    </div>

    <div class="control-group">
      <%= f.label :oriented_on -%>
      <%= f.date_select :oriented_on, include_blank: true %>
    </div>

    <div class="control-group">
      <%= f.label :birthday %>
      <%= f.date_select :birthday, include_blank: true %>
    </div>

    <div class="control-group">
      <%= f.label :phone_number %>
      <%= f.text_field :phone_number %>
    </div>

    <div class="control-group">
      <%= f.label :other_aliases %>
      <%= f.text_field :other_aliases %>
    </div>

    <div class="control-group">
      <%= f.label :notes %>
      <%= f.text_area :notes %>
    </div>

    <div class="control-group">
      <%= f.label :is_active do %>
        <%= f.check_box :is_active %>
        Is currently active?
      <% end %>
    </div>

    <%= f.submit class: "btn" %>
  </fieldset>
<% end %>
