= content_for(:title) do
  All Clients

= content_for(:context_navigation) do
  = render 'context_navigation'

= render 'clients/search_form', search_query: @query

= page_entries_info @clients

= paginate @clients

%p= link_to "Only active", clients_path

%table.table
  %thead
    %tr
      %th= sortable "current_alias"
      - if can? :manage, Client
        %th= sortable "point_balance"
        %th= sortable "created_at"
  %tbody
    = render @clients

= paginate @clients
