%div.id-card
  %h1 
    = image_tag 'marys-place-icon.png'
    Mary's Place

  %div.main
    %div.text
      %p.text= @client.current_alias
      %p= @client.login.barcode_data(height: 40, margin: 5).html_safe
      %p.text= @client.login.login
    %div.pic
      = image_tag @client.login.avatar.url(:square), class: "avatar"

