= content_for(:title) do
  Checkins for
  = @client.current_alias

= content_for(:sidebar) do
  = render 'sidebar', client: @client

= render @client

%h2 Checkins

= paginate @checkins

%table.table.entries
  %thead
    %tr
      %th Checkin At
      %th Client
      %th Checked In By
  %tbody
    = render @checkins

= paginate @checkins
