= content_for(:title) do
  Points Entries for
  = @client.current_alias

= content_for(:context_navigation) do
  = render 'context_navigation', client: @client

= render @client

%h2 Entries

= paginate @entries

= render 'points_entries/as_table', points_entries: @entries, prefs: @prefs,
  hide: [ :client ]

= paginate @entries
