= content_for(:title) do
  Points Entries for
  = @client.current_alias

= content_for(:sidebar) do
  = render 'sidebar', client: @client

= render @client

%h2 Entries

= paginate @entries

= render 'points_entries/as_table', points_entries: @entries,
  hide: [ :client ]

= paginate @entries
