= content_for(:title) do
  Clients

= content_for(:sidebar) do
  = render 'sidebar'

= paginate @clients

%table.table
  %thead
    %tr
      %th= sortable "current_alias"
      - if can? :manage, Client
        %th= sortable "point_balance"
        %th= sortable "created_at"
  %tbody
    = render @clients

= paginate @clients
