= content_for(:title) do
  Clients

= content_for(:context_navigation) do
  = render 'context_navigation'

= render 'clients/search_form', search_query: @query

%table.table
  %thead
    %tr
      %th= sortable "current_alias"
      - if can? :manage, Client
        %th= sortable "point_balance"
        %th= sortable "created_at"
  %tbody
    = render @clients

