= content_for(:title) do
  Clients

= content_for(:sidebar) do
  = render 'search_form', search_query: @query
  - if can? :create, Client
    %ul.nav.nav-list
      %li= link_to 'New Client', new_client_path

%table.table
  %thead
    %tr
      %th= sortable "current_alias"
      - if can? :manage, Client
        %th= sortable "point_balance"
        %th= sortable "created_at"
  %tbody
    = render @clients

