= content_for(:title) do
  = @client.current_alias

= content_for(:context_navigation) do
  =render 'context_navigation', client: @client

.row
  .col-sm-6
    %dl.dl-horizontal
      %dt Current Alias
      %dd
        - unless @client.is_active
          %span.label.label-info Inactive
        - if @client.is_blocked?
          %span.label.label-danger Blocked
        = @client.current_alias
      %dt Point Balance
      %dd= number_with_delimiter @client.point_balance
      %dt Login Code
      %dd
        - if @client.login
          - if can? :show, User
            = link_to @client.login_code, @client.login
          - else
            = @client.login_code
        - else
          %span.label.label-info None
          - if can? :manage, User
            = link_to "Create One", new_login_client_path(@client)
      - if can? :manage, @client
        %dt Full Name
        %dd= @client.full_name
        %dt Oriented On
        %dd
          - if @client.oriented_on
            = @client.oriented_on
          - else
            Not oriented
        %dt Birthday
        %dd
          - if @client.birthday
            = @client.birthday
          - else
            Not given
        %dt Phone Number
        %dd
          - if @client.phone_number
            = @client.phone_number
          - else
            %em Not given
        %dt Email
        %dd
          - if @client.email_address
            = mail_to @client.email_address
          - else
            %em Not given
        - if @client.notes
          %dt Notes
          %dd= simple_format @client.notes
        %dt Added By
        %dd= link_to @client.added_by_login, @client.added_by
        - if can? :show, ClientNote
          %dt Case Manager Info
          %dd= @client.case_manager_info
          %dt Family Info
          %dd= @client.family_info
          %dt Community Goal
          %dd= @client.community_goal
          %dt Personal Goal
          %dd= @client.personal_goal
          %dt Staff Notes
          %dd
            %ul.list-group
              - if @client.staff_notes
                - @client.staff_notes.each do |note|
                  %li.list-group-item= link_to note.title, note
              %li.list-group-item
                = link_to "Add Note", new_client_note_url(client: @client),
                  class: "btn btn-default btn-block"
        - if @client.last_edited_by
          %dt Last Edited By
          %dd= link_to @client.last_edited_by_login, @client.last_edited_by
  .col-sm-6
    - if @client.login
      = image_tag @client.login.avatar.url(:square)
