= content_for(:title) do
  = @client.current_alias

= content_for(:context_navigation) do
  =render 'context_navigation', client: @client

.panel.panel-default
  .panel-body
    .panel
      .panel-body.tab-content
        #client-general.tab-pane.active
          .row
            .col-md-6
              .panel.panel-default
                .panel-heading
                  %h3.panel-title
                    Current Alias
                .panel-body
                  - unless @client.is_active
                    %span.label.label-info Inactive
                  - if @client.is_blocked?
                    %span.label.label-danger Blocked
                  = @client.current_alias
            .col-md-6
              .panel.panel-default
                .panel-heading
                  %h3.panel-title
                    Full Name
                .panel-body= @client.full_name || 'Not Given'
          .row
            .col-md-6
              .panel.panel-default
                .panel-heading
                  %h3.panel-title
                    Point Balance
                .panel-body= number_with_delimiter @client.point_balance
            .col-md-6
              .panel.panel-default
                .panel-heading
                  %h3.panel-title
                    Last Activity On
                .panel-body
                  = @client.last_activity_on
          .row
            .col-md-6
              .panel.panel-default
                .panel-heading
                  %h3.panel-title
                    Added By
                .panel-body
                  = link_to @client.added_by_login, @client.added_by
            - if @client.birthday
              .col-md-6
                .panel.panel-default
                  .panel-heading
                    %h3.panel-title
                      Birthday
                  .panel-body
                    = @client.birthday
          - if @client.other_aliases != ''
            .row
              .col-md-12
                .panel.panel-default
                  .panel-heading
                    %h3.panel-title
                      Other Aliases
                  .panel-body
                    = @client.other_aliases
          - if @client.notes != ''
            .row
              .col-md-12
                .panel.panel-default
                  .panel-heading
                    %h3.panel-title
                      Notes
                  .panel-body
                    = @client.notes
