= content_for(:title) do
  = @client.current_alias

= content_for(:sidebar) do
  =render 'sidebar'

%dl
  %dt Current Alias
  %dd
    - unless @client.is_active
      %span.label.label-info Inactive
    - if @client.is_blocked?
      %span.label.label-important Blocked
    = @client.current_alias
  - if can? :manage, @client
    %dt Full Name
    %dd= @client.full_name
    %dt Oriented On
    %dd= @client.oriented_on
    %dt Point Balance
    %dd= number_with_delimiter @client.point_balance
    %dt Birthday
    %dd= @client.birthday
    %dt Phone Number
    %dd= @client.phone_number
    %dt Notes
    %dd= @client.notes
    %dt Added By
    %dd= link_to @client.added_by.login, @client.added_by
    - if @client.last_edited_by
      %dt Last Edited By
      %dd= link_to @client.last_edited_by.login, @client.last_edited_by

