<p>Hello <%= link_to current_user.login, current_user %>!</p>

<%= render 'alerts', email_alert_needed: @email_alert_needed %>

<%= render 'clients/search_form' %>

<%= render 'client_flags', client_flags: @client_flags %>

<%= render 'checkins', checkin_count: @checkin_count %>

<%= render 'entry_points' %>
