<p>Hello <%= link_to current_user.login, current_user %>!</p>

<%= render 'alerts' %>

<%= render 'clients/search_form' %>

<%= render 'client_flags' %>

<%= render 'checkins' %>

<%= render 'entry_points' %>
