<%= content_for(:title) do %>Dashboard<% end %>
<div class="container-fluid">
  <div class="row">
    <div>
      <%= render 'alerts', email_alert_needed: @email_alert_needed %>
      <%= render 'clients/search_form' %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 col-sm-3">
      <%= render 'client_flags', client_flags: @client_flags %>
    </div>
    <div class="col-xs-6 col-sm-3">
      <%= render 'checkins', checkin_count: @checkin_count %>
    </div>
    <div class="col-xs-6 col-sm-3">
      <%= render 'entry_points' %>
    </div>
  </div>
</div>
