- if cart.is_open? and can? :create, StoreCartItem
  = form_tag(store_add_path(cart), method: :put, class: "form") do
    .control-group
      .controls
        = hidden_field_tag :item_id, default_item.id
        = label_tag :item_cost, "Cost"
        = number_field_tag :item_cost, nil, min: 0, class: "input-small"
        = label_tag :item_detail, "Description"
        = text_field_tag :item_detail, nil,
          placeholder: "Optional description"
        = submit_tag "Add to Cart", class: "btn"
