= content_for(:title) do
  Flag for
  = @client_flag.client_current_alias

=content_for(:context_navigation) do
  = render 'context_navigation', client_flag: @client_flag

%dl.dl-horizontal
  %dt Client
  %dd= link_to @client_flag.client_current_alias, @client_flag.client
  %dt Created
  %dd
    = l(@client_flag.created_at, format: :long)
    by
    = link_to @client_flag.created_by_login, @client_flag.created_by
  %dt Description
  %dd= @client_flag.description || 'None Given'
  %dt Consequence
  %dd= @client_flag.consequence || 'None Given'
  %dt Action Required
  %dd= @client_flag.action_required || 'None Given'
  %dt Expires On
  %dd
    - if @client_flag.expires_on
      = l(@client_flag.expires_on, format: :long)
    - else
      No expiration
  %dt Notes
  %dd
    = @client_flag.client_current_alias
    - if @client_flag.is_blocking
      may not enter while this flag is unresolved.
    - else
      is not prevented from entering by this flag.
  %dd
    = @client_flag.client_current_alias
    - if @client_flag.can_shop
      is not prevented from shopping by this flag.
    - else
      may not shop while this flag is unresolved.
  - if @client_flag.resolved_on
    %dt Resolved
    %dd
      = l(@client_flag.resolved_on, format: :long)
      by
      = link_to @client_flag.resolved_by_login, @client_flag.resolved_by
    %dt Resolution
    %dd= @client_flag.resolution || 'None given'
  - else
    %dt Resolve
    %dd= link_to "Resolve", resolve_client_flag_path(@client_flag)
