= content_for(:title) do
  = @organization.name

= content_for(:context_navigation) do
  = render 'context_navigation', organization: @organization

- if @organization.logo
  = image_tag @organization.logo
.row
  .col-sm-6
    %dl.dl-horizontal
      %dt Name
      %dd= @organization.name
      %dt Created By
      %dd= link_to @organization.creator.login, @organization.creator
    
