= content_for(:title) do
  = @organization.name

= content_for(:context_navigation) do
  = render 'context_navigation', organization: @organization

.row
  .col-sm-6
    %dl.dl-horizontal
      %dt Name
      %dd= @organization.name
      %dt Created By
      %dd= link_to @organization.creator.login, @organization.creator
  .col-sm-6
    - if @organization.logo
      .well
        = image_tag @organization.logo, class: 'img-responsive'
    - if @organization.card_template
      .well
        = image_tag @organization.card_template, class: 'img-responsive'
