= content_for(:title) do
  All Points Entry Types

= content_for(:context_navigation) do
  = render 'context_navigation'

= paginate @points_entry_types

%table.table.table-striped
  %thead
    %tr
      %th Name
      %th Default Points
  %tbody
    = render @points_entry_types

= paginate @points_entry_types
