= content_for(:title) do
  Editing
  = @points_entry_type.name

= content_for(:sidebar) do
  %ul.nav.nav-list
    %li= link_to 'Show', @points_entry_type

= render 'form', points_entry_type: @points_entry_type
