= content_for(:title) do
  = @points_entry_type.name
  Report

= content_for(:sidebar) do
  = render 'sidebar'

%p Looking at #{@count} entries.
%p #{number_with_delimiter(@total_points)} total points

- if @monthly_points
  %p From #{@start_date} to #{@end_date}
  %table.table
    %thead
      %tr
        %th Span
        %th Number Entries
        %th Total Points
    %tbody
      - @monthly_points.each do |entry|
        %tr
          %td= Date.parse(entry.month).strftime("%Y %B")
          %td= entry.entries
          %td= number_with_delimiter(entry.points)
- elsif @points_entries
  %p 
    Back to
    = link_to "report.", report_points_entry_type_path(@points_entry_type)
  = render 'points_entries/as_table', points_entries: @points_entries
