= content_for(:title) do
  = @points_entry_type.name
  Report

= content_for(:sidebar) do
  = render 'sidebar'

= content_for(:totals) do
  %tr.info
    %td Total
    %td= number_with_delimiter(@total_entries)
    %td= number_with_delimiter(@total_points)

.pagination.pagination-large.pagination-centered
  %ul
    %li= link_to @year.to_i - 1, annual_report_points_entry_type_path({ id: @points_entry_type, year: @year.to_i - 1 })
    %li.active
      %a(href='#')= @year
    %li= link_to @year.to_i + 1, annual_report_points_entry_type_path({ id: @points_entry_type, year: @year.to_i + 1 })
%table.table
  %thead
    %tr
      %th Span
      %th Number Entries
      %th Total Points
  %tbody
    = yield :totals
    - @rows.each do |entry|
      %tr
        %td= Date.parse(entry.month).strftime("%Y %B")
        %td= entry.entries
        %td= number_with_delimiter(entry.points)
    = yield :totals
