= content_for(:title) do
  = @points_entry_type.name

= content_for(:context_navigation) do
  = render 'context_navigation', points_entry_type: @points_entry_type

%dl.dl-horizontal
  %dt Name
  %dd
    = @points_entry_type.name
    - unless @points_entry_type.is_active
      %span.label.label-default Inactive
  %dt Description
  %dd= @points_entry_type.description
  %dt Default Points
  %dd= @points_entry_type.default_points
  %dt Is Active?
  %dd= @points_entry_type.is_active

- if can? :show, PointsEntry
  %h2 Log
  = paginate @points_entries
  = render 'points_entries/as_table', points_entries: @points_entries,
    hide: [ :points_entry_type ]
  = paginate @points_entries
