<%= content_for :title do %>Sign In<% end %>

<%= content_for :sidebar do %>
  <ul class="nav nav-list">
    <li class="nav-header">No Account?</li>
    <li><%= link_to "Sign Up", new_user_path %></li>
  </ul>
<% end %>

<%= form_for @user_session, url: user_session_path do |f| %>
  <% if @user_session.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @user_session.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
    </div>
  <% end %>

  <fieldset>
    <legend>Sign In</legend>

    <div class="control-group">
      <%= f.label :login %>
      <div class="controls">
        <%= f.text_field :login %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :password %>
      <div class="controls">
        <%= f.password_field :password %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :remember_me, class: "checkbox" do %>
        <%= f.check_box :remember_me %>
        Remember Me
      <% end %>
    </div>

    <%= f.submit "Login", class: "btn" %>
  </fieldset>
<% end %>
