- row_class = checkin_clue(checkin)
%tr{class: row_class}
  %td= l(checkin.checkin_at, format: :long)
  %td= link_to checkin.client_current_alias, checkin.client
  %td= link_to checkin.location_name, checkin.location
  %td= link_to checkin.user_login, checkin.user
  %td= checkin.notes
  - if can? :edit, checkin
    %td
      .btn-group
        = link_to "Change", edit_checkin_path(checkin),
            class: "btn btn-mini"
        - if can? :delete, checkin
          = link_to 'Remove', checkin,
            data: {confirm: 'Are you sure?'}, method: :delete,
            class: "btn btn-mini"
