= form_for checkin, class: "form-inline", role: 'form' do |f|
  -if checkin.errors.any?
    #error_explanation
      %h2= "#{pluralize(checkin.errors.count, "error")} prohibited this checkin from being saved:"
      %ul
        - checkin.errors.full_messages.each do |msg|
          %li= msg
  %fieldset
    .form-group
      = f.label :client_id, class: 'control-label'
      - if checkin.client
        = text_field_tag "current_alias", checkin.client_current_alias,
          data: { provide: 'typeahead', field: 'checkin_client_id' },
          class: 'client-typeahead form-control'
      - else
        = text_field_tag "current_alias", nil,
          data: { provide: 'typeahead', field: 'checkin_client_id' },
          placeholder: 'The name they go by...',
          class: 'client-typeahead form-control'
      = f.hidden_field :client_id
    .form-group
      = f.label :location_id, class: 'control-label'
      = location_select f, :location_id, current_user
    -unless checkin.new_record?
      .form-group
        = f.label :checkin_at, class: 'control-label'
        .controls
          = f.datetime_select :checkin_at, class: 'form-control'
      .form-group
        = f.label :notes, class: 'control-label'
        = f.text_area :notes, class: 'form-control'
    .form-group
      = f.submit class: "btn btn-primary btn-block"
      = cancel_button
