= content_for(:title) do
  Checkin Report for #{@year}

= content_for(:sidebar) do
  = render 'sidebar'

= content_for(:totals) do
  %tr.info
    %td Total
    %td= number_with_delimiter(@total_checkins)

= render 'annual_report_links', year: @year

%table.table
  %thead
    %tr
      %th Span
      %th Checkins
  %tbody
    = yield :totals
    - if @rows
      - @rows.each do |entry|
        - entry_date = Date.parse(entry.span)
        %tr
          %td
            = link_to entry_date.strftime("%Y %B"),
              monthly_report_checkins_path({ year: entry_date.year, month: entry_date.month })
          %td= entry.checkins
      = yield :totals
