= content_for(:title) do
  Checkin Report for
  = @time_range

= content_for(:context_navigation) do
  = render 'context_navigation'

.container
  =# render 'annual_report_links', year: @year
  =# render 'monthly_report_links', span: @span
  = render 'daily_report_links', span: @span

%p
  %span.checkin-count= @total_checkins
  = "checkin".pluralize(@total_checkins)

%table.table
  %thead
    %tr
      %th Checkin At
      %th Client
      %th Checked In By
  %tbody
    = yield :totals
    - if @checkins
      - @checkins.each do |entry|
        %tr
          %td= link_to entry.say_time, entry
          %td= link_to entry.client_current_alias, entry.client
          %td= link_to entry.user_login, entry.user
      = yield :totals
