= content_for(:title) do
  Checkin Report for
  = @time_range

= content_for(:sidebar) do
  = render 'sidebar'

= render 'annual_report_links', locals: { year: @year }

= render 'monthly_report_links', locals: { span: @span }

= render 'daily_report_links', locals: { span: @span }

%p
  %span.checkin-count= @total_checkins
  = "checkin".pluralize(@total_checkins)

%table.table
  %thead
    %tr
      %th Checkin At
      %th Client
      %th Checked In By
  %tbody
    = yield :totals
    - if @checkins
      - @checkins.each do |entry|
        %tr
          %td= link_to entry.say_time, entry
          %td= link_to entry.client_current_alias, entry.client
          %td= link_to entry.user_login, entry.user
      = yield :totals
