= content_for(:title) do
  Checkins

= content_for(:sidebar) do
  =render 'sidebar'

= paginate @checkins

%table.table.entries
  %thead
    %tr
      %th Checkin Time
      %th Client
      %th Location
      %th Checked In By
      %th Notes
  %tbody
    = render @checkins

= paginate @checkins
