= content_for(:title) do
  Checkins

= content_for(:sidebar) do
  - if can? :create, Checkin
    %ul.nav.nav-list
      %li= link_to 'New Checkin', new_checkin_path

= paginate @checkins

= render @checkins

= paginate @checkins
