= content_for(:title) do
  Today's Checkins

= content_for(:sidebar) do
  =render 'sidebar'

- if @yesterday
  = link_to @yesterday, on_checkins_path(year: @yesterday.year, month: @yesterday.month, day: @yesterday.day)

%p
  %span.checkin-count= @checkins.count
  = "checkin".pluralize(@checkins.count)
%table.table.entries
  %thead
    %tr
      %th Checkin At
      %th Client
      %th Checked In By
  %tbody
    = render @checkins
