= content_for(:title) do
  Bon Mary's Store

= content_for(:sidebar) do
  = render 'sidebar'

= form_tag(store_start_path, method: :put, class: "form-inline") do
  .control-group
    .controls
      = text_field_tag "current_alias", nil,
        data: { provide: 'typeahead', field: 'shopper_id', balance: 0 },
        autocomplete: 'off',
        class: 'client-typeahead'
      %span.summary
        %span.point-total.text-info
      = button_tag "Start Shopping!", class: "btn"
      = hidden_field_tag :shopper_id

%table.table
  = render @carts
