= content_for(:title) do
  Cart for
  = @cart.shopper.current_alias

= content_for(:sidebar) do
  = render 'sidebar'

%dl
  %dt Shopper
  %dd= link_to @cart.shopper.current_alias, @cart.shopper
  %dt Started At
  %dd= @cart.started_at
  %dt Finished At
  - if @cart.finished_at
    %dd= @cart.finished_at
  - else
    %dd
      %span.label Open
      = link_to "Finish", store_finish_path(@cart), method: :put, class: "btn", data: { confirm: "Finish cart for #{@cart.shopper.current_alias}?" }
  %dt Total Points
  %dd= @cart.total
  %dt Handled By
  %dd= @cart.handled_by.login
  - if @cart.is_open?
    %dt Balance After Purchase
    %dd.client-balance{data: { balance: @cart.shopper.point_balance } }= @cart.shopper.point_balance

- if @cart.is_open? and can? :create, StoreCartItem
  = form_tag(store_add_path(@cart), method: :put, class: "form-inline") do
    .control-group
      .controls
        = label_tag 'item-name-typeahead', "Item"
        = text_field_tag "item-name-typeahead", nil,
          data: { provide: 'typeahead', field: 'item_id', pointsfield: 'item_cost' },
          autocomplete: 'off',
          class: 'catalog-item-typeahead'
        = label_tag :item_cost, "Cost"
        = number_field_tag :item_cost, nil, min: 0, class: "input-small"
        = text_field_tag :item_detail
        = submit_tag "Add to Cart", class: "btn"
        = hidden_field_tag :item_id

%table.table.table-striped
  - @cart.items.each do |item|
    %tr
      %td= item.catalog_item.name
      %td= item.cost
      %td= item.detail
      - if can? :manage, StoreCartItem
        %td= link_to "Remove", store_remove_path(@cart, item_id: item), class: "btn btn-link", method: :delete, data: { confirm: "Remove this item from the cart?" }
