= form_for(location) do |f|
  - if location.errors.any?
    .error_explanation
      %h3= pluralize location.errors.count, "Error"
      %ul
        - location.errors.full_messages.each do |msg|
          %li= msg
  %fieldset
    .form-group
      = f.label :name
      = f.text_field :name, class: 'form-control'
    .form-group
      = f.label :phone_number
      = f.text_field :phone_number, class: 'form-control'
    .form-group
      = f.label :address
      = f.text_field :address, class: 'form-control'
    .form-group
      = f.label :city
      = f.text_field :city, class: 'form-control'
    .form-group
      = f.label :state
      = f.text_field :state, class: 'form-control'
    .form-group
      = f.label :postal_code
      = f.text_field :postal_code, class: 'form-control'
    .form-group
      = f.submit class: "btn btn-primary btn-block"
      = cancel_button
