= form_for(location) do |f|
  - if location.errors.any?
    .error_explanation
      %h3= pluralize location.errors.count, "Error"
      %ul
        - location.errors.full_messages.each do |msg|
          %li= msg
  %fieldset
    .control-group
      = f.label :name
      = f.text_field :name
    .control-group
      = f.label :phone_number
      = f.text_field :phone_number
    .control-group
      = f.label :address
      = f.text_field :address
    .control-group
      = f.label :city
      = f.text_field :city
    .control-group
      = f.label :state
      = f.text_field :state
    .control-group
      = f.label :postal_code
      = f.text_field :postal_code
    = f.submit class: "btn"

