= content_for(:title) do
  Location Details

= content_for(:sidebar) do
  = render 'sidebar', location: @location


%dl
  %dt Name
  %dd= @location.name
  %dt Phone Number
  %dd= @location.phone_number
  %dt Address
  %dd= @location.address
  %dt City
  %dd= @location.city
  %dt State
  %dd= @location.state
  %dt Postal Code
  %dd= @location.postal_code
