<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header pull-left">
      <a href="<%= root_url %>" class="navbar-brand">
	<% if current_user.organization %>
	  <%= current_user.organization_name %>
	<% else -%>
	  MPF
	<% end -%>
      </a>
    </div>
    <div class="navbar-header pull-right">
      <ul class="nav nav-pills">
        <li>
          <a href="<%= messages_path %>" title="messages">
            <% if message_count > 0 %>
              <span class="badge"><%= message_count %></span>
            <% end %>
            <span class="glyphicon glyphicon-envelope"></span>
          </a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="<%= user_path current_user %>">
            <span class="glyphicon glyphicon-user"></span>
            <%= current_user.login %>
          </a>
        </li>
      </ul>
    </div>
  </div>   <%# end container %>
</nav>     <%# end navbar %>
