<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Mary's Place<% if content_for? :title %>: <%= yield :title %><% end %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <%= stylesheet_link_tag "application", media: "all" %>
        <%= csrf_meta_tags %>
    </head>
    <body>
        <%= render partial: "layouts/site-navbar" %>
        <div class="container-fluid">
            <% if content_for? :title %>
                <div class="row-fluid">
                    <h2><%= yield :title %></h2>
                </div>
            <% end %>
            <div class="row-fluid">
                <% if content_for? :sidebar %>
                    <div class="span3">
                        <div class="well sidebar-nav">
                            <%= yield :sidebar %>
                        </div>
                    </div>
                    <div class="span9">
                        <div class="log">
                          <% if flash[:notice] -%>
                            <p id="notice" class="text-info"><%= flash[:notice] %></p>
                          <% end -%>
                          <% if flash[:alert] -%>
                            <p id="alert" class="alert">
                              <%= flash[:alert] %>
                            </p>
                          <% end -%>
                            <%= yield %>
                        </div>
                    </div>
                <% else %>
                    <div class="hero-unit">
                        <div class="log">
                          <% if notice -%>
                            <p id="notice"class="text-info"><%= notice %></p>
                          <% end -%>
                          <% if flash[:alert] -%>
                            <p id="alert" class="text-alert"><%= flash[:alert] %></p>
                          <% end -%>
                            <%= yield %>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
        <footer class="text-center">
          <p>
            Written by <a href="http://randomgeekery.org">Brian Wisti</a>
            in 2012 - 2013 for
            <a href="http://marysplaceseattle.org">Mary's Place Seattle</a>.
          </p>
          <p>
            <a href="https://github.com/brianwisti/marysplace-rails">Source code available on Github.</a>
          </p>
        </footer>
        <%= javascript_include_tag :application, defer: true, async: true%>
    </body>
</html>
