!!! 5
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    %title
      Mary's Place
      - if content_for? :title
        \: #{yield :title}
    = stylesheet_link_tag "application", media: "all"
    = csrf_meta_tags
  %body{role: "document"}
    - if current_user
      = render partial: "layouts/site-navbar"
    .container-fluid
      .row
        .col-sm-3.col-md-2.sidebar
          %ul.nav.nav-sidebar
            - sections.each do |section|
              - if section[:active]
                %li.active= link_to section[:title], section[:url]
              - else
                %li= link_to section[:title], section[:url]
        .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
          - if content_for? :title
            %h1.page-header= yield :title
          - if content_for? :context_navigation
            = yield :context_navigation
          .log
            - if flash[:notice]
              %p#notice.text-info= flash[:notice]
            - if flash[:alert]
              %p#notice.alert= flash[:alert]
          = yield 
    %footer.small.text-center
      %p
        Written by
        %a{ href: "http://randomgeekery.org" } Brian Wisti
        in 2012-2014 for
        %a{ href: "http://marysplaceseattle.org" } Mary's Place Seattle
      %p
        %a{ href: "https://github.com/brianwisti/marysplace-rails" } Source code available on Github.
    = javascript_include_tag :application, defer: true, async: true
    %script{type: "text/javascript"}
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-41439864-2', 'evening-retreat-2690.herokuapp.com');
      ga('send', 'pageview');
